.control {
  padding: 8px 0;
  margin: 12px 0;
  display: grid;
  justify-items: center;
}

.control-buttons {
  display: inline-block;
  margin: 8px auto;
}

.control-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 8px auto;
}

.preview {
  display: grid;
  justify-items: center;
  margin: 24px 0;
}

.image-control-bar {
  display: grid;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin: 24px auto;
}

@media only screen and (max-width: 952px) {
  .control-fields {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: right;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 8px;
    padding: 8px;
  }
}