.control {
  padding: 8px 0;
  margin: 12px 0;
  display: grid;
  justify-items: center;
}

.control-buttons {
  display: inline-block;
  margin: 8px auto;
}

.control-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 8px auto;
}

.control-fields__size-input {
  display: flex;
  justify-items: center;
}

.preview {
  display: grid;
  justify-items: center;
  margin-top: 24px;
}

@media only screen and (max-width: 952px) {

  .control-fields {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: right;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 8px;
    padding: 8px;
  }

  .control-fields__size-input {
    display: grid;
  }
}