.control {
  padding: 8px 0;
  margin: 12px 0;
  display: grid;
  justify-items: center;
}

.control-buttons {
  display: inline-block;
  margin: 8px auto;
}

.control-fields {
  display: block;
  padding: 24px auto;
  border: 5px solid red;
}

.preview {
  display: grid;
  justify-items: center;
  margin-top: 24px;
}
